{
  "swagger": "2.0",
  "info": {
    "title": "ZIP API",
    "description": "ZIP API by Gineesoft allows Power Automate users to create ZIP archives, extract ZIP files, create password protected ZIPs and extract password protected ZIPs directly in their flows without any coding.",
    "version": "1.0",
    "contact": {
      "name": "Gineesoft",
      "url": "https://gineesoft.com",
      "email": "info@gineesoft.com"
    }
  },
  "host": "zipapi-apim.azure-api.net",
  "basePath": "/zipapi-func",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/ZipFunction": {
      "post": {
        "summary": "Create ZIP file",
        "description": "Creates a ZIP archive from one or more files provided as text or base64 encoded content.",
        "operationId": "ZipFunction",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ZipRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file created successfully",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "ZIP file binary content"
            }
          },
          "400": {
            "description": "Bad request - check your input files",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "429": {
            "description": "Rate limit exceeded - upgrade to paid tier",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "500": {
            "description": "Internal server error",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        }
      }
    },
    "/UnzipFunction": {
      "post": {
        "summary": "Extract ZIP file",
        "description": "Extracts all files from a ZIP archive provided as base64 encoded content.",
        "operationId": "UnzipFunction",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnzipRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files extracted successfully",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ExtractedFile" }
            }
          },
          "400": {
            "description": "Bad request - invalid ZIP content",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "500": {
            "description": "Internal server error",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        }
      }
    },
    "/ZipWithPassword": {
      "post": {
        "summary": "Create password protected ZIP",
        "description": "Creates a password protected ZIP archive using AES-256 encryption from one or more files.",
        "operationId": "ZipWithPassword",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ZipWithPasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password protected ZIP created successfully",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "Password protected ZIP file binary content"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "500": {
            "description": "Internal server error",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        }
      }
    },
    "/UnzipWithPassword": {
      "post": {
        "summary": "Extract password protected ZIP",
        "description": "Extracts files from a password protected ZIP archive provided as base64 encoded content.",
        "operationId": "UnzipWithPassword",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnzipWithPasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files extracted successfully",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ExtractedFile" }
            }
          },
          "400": {
            "description": "Bad request - check password or ZIP content",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          },
          "500": {
            "description": "Internal server error",
            "schema": { "$ref": "#/definitions/ErrorResponse" }
          }
        }
      }
    }
  },
  "definitions": {
    "ZipRequest": {
      "type": "object",
      "required": ["files"],
      "properties": {
        "zipFileName": {
          "type": "string",
          "description": "Name of the output ZIP file (without .zip extension)",
          "x-ms-summary": "ZIP File Name",
          "example": "myarchive"
        },
        "files": {
          "type": "array",
          "description": "List of files to include in the ZIP",
          "x-ms-summary": "Files",
          "items": { "$ref": "#/definitions/FileItem" }
        }
      }
    },
    "UnzipRequest": {
      "type": "object",
      "required": ["zipContent"],
      "properties": {
        "zipContent": {
          "type": "string",
          "description": "Base64 encoded ZIP file content",
          "x-ms-summary": "ZIP Content (Base64)"
        },
        "fileName": {
          "type": "string",
          "description": "Name of the ZIP file",
          "x-ms-summary": "ZIP File Name",
          "example": "myarchive.zip"
        }
      }
    },
    "ZipWithPasswordRequest": {
      "type": "object",
      "required": ["files", "password"],
      "properties": {
        "zipFileName": {
          "type": "string",
          "description": "Name of the output ZIP file (without .zip extension)",
          "x-ms-summary": "ZIP File Name",
          "example": "secure-archive"
        },
        "password": {
          "type": "string",
          "description": "Password to protect the ZIP file (AES-256 encryption)",
          "x-ms-summary": "Password",
          "x-ms-visibility": "important"
        },
        "files": {
          "type": "array",
          "description": "List of files to include in the ZIP",
          "x-ms-summary": "Files",
          "items": { "$ref": "#/definitions/FileItem" }
        }
      }
    },
    "UnzipWithPasswordRequest": {
      "type": "object",
      "required": ["zipContent", "password"],
      "properties": {
        "zipContent": {
          "type": "string",
          "description": "Base64 encoded ZIP file content",
          "x-ms-summary": "ZIP Content (Base64)"
        },
        "fileName": {
          "type": "string",
          "description": "Name of the ZIP file",
          "x-ms-summary": "ZIP File Name",
          "example": "secure-archive.zip"
        },
        "password": {
          "type": "string",
          "description": "Password to extract the ZIP file",
          "x-ms-summary": "Password",
          "x-ms-visibility": "important"
        }
      }
    },
    "FileItem": {
      "type": "object",
      "required": ["name", "content"],
      "properties": {
        "name": {
          "type": "string",
          "description": "File name with extension (e.g. report.txt, data.csv)",
          "x-ms-summary": "File Name",
          "example": "report.txt"
        },
        "content": {
          "type": "string",
          "description": "File content as plain text or base64 encoded string",
          "x-ms-summary": "File Content"
        },
        "isBase64": {
          "type": "boolean",
          "description": "Set to true if the content is base64 encoded",
          "x-ms-summary": "Is Base64",
          "default": false
        }
      }
    },
    "ExtractedFile": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Extracted file name",
          "x-ms-summary": "File Name"
        },
        "content": {
          "type": "string",
          "description": "Extracted file content as base64 encoded string",
          "x-ms-summary": "File Content (Base64)"
        },
        "isBase64": {
          "type": "boolean",
          "description": "Always true for extracted files",
          "x-ms-summary": "Is Base64"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "integer",
          "description": "HTTP status code"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [{ "api_key": [] }],
  "tags": [
    {
      "name": "ZIP",
      "description": "ZIP and UNZIP operations"
    }
  ]
}
